USE [master]
GO
/****** Object:  Database [statisticalChart]    Script Date: 01/22/2019 21:30:05 ******/
CREATE DATABASE [statisticalChart] ON  PRIMARY 
( NAME = N'statisticalChart', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\statisticalChart.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'statisticalChart_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\statisticalChart_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [statisticalChart].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [statisticalChart]
GO
/****** Object:  Table [dbo].[GDPChartInfo]    Script Date: 01/22/2019 21:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GDPChartInfo](
	[ID] [nchar](10) NOT NULL,
	[省名] [varchar](50) NULL,
	[GDP_2015] [decimal](18, 0) NULL,
	[GDP_2016] [decimal](18, 0) NULL,
	[GDP_2017] [decimal](18, 0) NULL,
	[Geometry] [varchar](max) NULL,
 CONSTRAINT [PK_GDBChartInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
